body{
  background-color: #282c34;
  padding: 0 !important;
}
a{
  color:black;
  font-weight: 600;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  color: white;
  text-align: center;
  .App-header{
    height:200px;
    width:100%;
    background-color:black;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Title{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top:5%;
}
.FriendBox{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top:-5%;
  padding:10%;
  .friend{
    margin: 1%;
    color:black;
    width: 25%;
    button{
      border-radius: 0;
      margin: 1%;
    }
    img{
      height:250px;
    }
  }
}
.Loading{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
}
.LoaderContainer{
  margin: 0 auto;
}

.LoginForm{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-top:5%;
   input{
    width:25%;
    margin-bottom: 1%;
  }
  label{
    width:25%;
  }
}